/* css barre de navigation gerer par boostrap */

#navbar {
    background-color: rgb(255, 255, 255);
    height: 150px;
}

#bienvenue {
    background-color: white;
    text-align: center;
    font-family: charmona;
    height: 70px;
}

#bg1 {
    width: 100%;
    height: 430px;
}

#numTel {
    border: 2px solid;
    border-radius: 50px;
    width: 120%;
    text-align: center;
}


/* taille et forme du logo */

.liste li>a {
    color: black;
    font-size: 20px;
    margin-top: 50px;
}

#imageLogo {
    width: 186px;
    border-radius: 50px;
    position: absolute;
    left: 85px;
    padding-top: 20%;
    bottom: 30%;
    left: 42%;
}


/* end css barre de navigation */

#imageProduit>div:hover {
    transform: scale(1.1);
}


/* la police de bienvenue chez amsa */

@font-face {
    font-family: charmona;
    src: url(fontFamily/charmonman/Charmonman-Bold.ttf);
    font-weight: bold;
}


/* css des images de l'acceuil */

#imageProduit div>img {
    width: 350px;
    border-radius: 40px;
}

#imageProduit {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

#imageProduit>div {
    height: 350px;
    background-color: #67676735;
    border-radius: 40px;
    margin-bottom: 50px;
}

.produit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 350px;
}

.produit>div {
    align-self: center;
}

.produit>p {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.price {
    text-align: center;
    color: rgb(0, 0, 0);
}